
// variables
$light-blue: #BAD2ED
$blue: #3360CC
$holmusk-blue: #192D5B
$header-grey: #F3F3F3
$dark-grey: #4A4A4A
$light-grey: #CACACA

// clean-blog base
@import "clean-blog-sass.sass"

// customisation
body
  background-color: white