<section class="container info blog">
    <div class="content">
        <div class="row post">
            <div class="col-md-10 col-xs-10 offset-md-1 offset-xs-1 mb-3">
                <h1>Tags</h1>
                $for(tagsList)$
                <span> <a class="tag" href="../tags/$tag$">$tag$</a></span>
                $endfor$

            </div>
            <div class="col-md-10 col-xs-10 offset-md-1 offset-xs-1">
                <h1> $page$ </h1>
                <hr>
                <ul>
                $for(posts)$
                  <li>
                        <div class="post-preview">
                            <a href="$url$"><h2 class="post-title">$title$</h2></a>
                            <p class="post-meta">$date$</p>
                        </div>
                  </li>
                $endfor$
                </ul>
            </div>
         </div>
     </div>
</section>
