<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Holmusk Tech Blog">
  <meta name="keywords" content="Haskell, Elm, Dart, Functional progarmming, FP">
  <meta name="author" content="Holmusk"/>
  <title>Holmusk | $page$</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
  <script
  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
  crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg fixed-top with-banner" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/index.html">
          <img src="/images/holmusk_logo_title.svg" alt="Holmusk Tech Blog">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blog.html">Blog Posts</a>
            </li>
          </ul>
        </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="front-page-banner">
            <div class="banner-title">Big Data Technology Healthcare</div>
            <div class="banner-img"><img src="/images/illust_data_analytics.svg" alt=""></div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
 <div class="container" id="page-content">
   <div class="row">
     $body$
   </div>
 </div>

 $partial("templates/footer.html")$

  <script src="/js/main.js" charset="utf-8"></script>
</body>
</html>
