<div class="col-lg-8 col-md-10 mx-auto">

  <h1> Latest Blog Posts </h1>

  $for(posts)$
    <div class="post-preview">
      <a href="$url$"><h2 class="post-title">$title$</h2></a>
      <p class="post-meta">Posted on $date$</p>
    </div>
    <hr>
  $endfor$


  <h1> Projects </h1>

  $for(projects)$
    <div class="project-card" style="width: 18rem;">
      <a href="https://github.com/Holmusk/$pLink$" class="project-card-illustration"><img src="/images/$pImg$" alt="$pName$"></a>
      <div class="project-card-body">
        <h5 class="project-card-title">$pName$: $pDesc$</h5>
        <a href="https://github.com/Holmusk/$pLink$" class="project-card-link">GITHUB</a>
      </div>
    </div>
  $endfor$

</div>
