<div class="container">
    <h2 class="text-center text-uppercase text-purple">$title$</h2>
    <div class="row tag-block text-center">
        <div class="col-md-12 col-xs-12 tag-block">
            $for(tagsList)$
            <span> <a class="btn btn-outline-dark" href="../tags/$tag$">$tag$</a></span>
            $endfor$
        </div>
    </div>
    <div class="text-center">$date$</div>

    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            $toc$

            $body$
          </div>
        </div>
      </div>
    </article>

</div>
