<div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-12 mx-auto">
            <h1 class="title">$title$</h1>
            <div class="post-context">
              <div>
                <span class="author"> $author$ </span>
                $if(github)$
                    <span><a class="github" href="https://github.com/$github$/">@$github$</a></span>
                $endif$
              </div>

              <div class="date">$date$</div>
            </div>
            <div class="tag-list">
              $for(tagsList)$
              <span><a class="tag" href="../tags/$tag$.html">$tag$</a></span>
              $endfor$
            </div>
        </div>
    </div>

    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-md-12 mx-auto">
            <div class="toc">$toc$</div>
            $body$
          </div>
        </div>
      </div>
    </article>

</div>
